<script>

	var aStr = {

		'delitem'     : "{{$delitem}}",
		'itemdel'     : "{{$itemdel}}",
		'comment'     : "{{$comment}}",
		'showmore'    : "{{$showmore}}",
		'showfewer'   : "{{$showfewer}}",
		'divgrowmore' : "{{$divgrowmore}}",
		'divgrowless' : "{{$divgrowless}}",
		'pwshort'     : "{{$pwshort}}",
		'pwnomatch'   : "{{$pwnomatch}}",
		'everybody'   : "{{$everybody}}",
		'passphrase'  : "{{$passphrase}}",
		'passhint'    : "{{$passhint}}",
		'permschange' : "{{$permschange}}",
		'closeAll'    : "{{$closeAll}}",
		'nothingnew'  : "{{$nothingnew}}",
		'rating_desc' : "{{$rating_desc}}",
		'rating_val'  : "{{$rating_val}}",
		'rating_text' : "{{$rating_text}}",
		'submit'      : "{{$submit}}",
		'linkurl'     : "{{$linkurl}}",
		'leavethispage' : "{{$leavethispage}}",
		'location'    : "{{$location}}",
		'lovely'      : "{{$lovely}}",
		'wonderful'   : "{{$wonderful}}",
		'fantastic'   : "{{$fantastic}}",
		'great'       : "{{$great}}",
		'nick_invld1' : "{{$nick_invld1}}",
		'nick_invld2' : "{{$nick_invld2}}",
		'nick_valid'  : "{{$nick_valid}}",
		'name_empty'  : "{{$name_empty}}",
		'name_ok1'    : "{{$name_ok1}}",
		'name_ok2'    : "{{$name_ok2}}",
		'to_reply'    : "{{$to_reply}}",
		'pinned'      : "{{$pinned}}",
		'pin_item'    : "{{$pin_item}}",
		'unpin_item'  : "{{$unpin_item}}",

		'monthNames' : [ "{{$January}}","{{$February}}","{{$March}}","{{$April}}","{{$May}}","{{$June}}","{{$July}}","{{$August}}","{{$September}}","{{$October}}","{{$November}}","{{$December}}" ],
		'monthNamesShort' : [ "{{$Jan}}","{{$Feb}}","{{$Mar}}","{{$Apr}}","{{$MayShort}}","{{$Jun}}","{{$Jul}}","{{$Aug}}","{{$Sep}}","{{$Oct}}","{{$Nov}}","{{$Dec}}" ],
		'dayNames' : ["{{$Sunday}}","{{$Monday}}","{{$Tuesday}}","{{$Wednesday}}","{{$Thursday}}","{{$Friday}}","{{$Saturday}}"],
		'dayNamesShort' : ["{{$Sun}}","{{$Mon}}","{{$Tue}}","{{$Wed}}","{{$Thu}}","{{$Fri}}","{{$Sat}}"],
		'today' : "{{$today}}",
		'month' : "{{$month}}",
		'week' : "{{$week}}",
		'day' : "{{$day}}",
		'allday' : "{{$allday}}",

		// mod cloud
		'download_info' : "{{$download_info}}",

		// mod register
		'email_not_valid' : "{{$email_not_valid}}",
		'email_required' : "{{$email_required}}"

	};

</script>

