<div class="wall-item-delete-wrapper" id="wall-item-delete-wrapper-{{$id}}" >
	<a class="btn btn-outline-secondary btn-sm" href="#" onclick="dropItem('item/drop/{{$id}}', '#wall-item-outside-wrapper-{{$id}}'); return false;" title="{{$delete}}" ><i class="bi bi-trash"></i></a>
</div>
