<div class="generic-content-wrapper">
	<div class="section-title-wrapper">
		<a class="btn btn-success btn-sm float-end" href="{{$cr_new_link}}" id="profile-listing-new-link" title="{{$cr_new}}" ><i class="bi bi-plus-lg"></i>&nbsp;{{$cr_new}}</a>
		<h2>{{$header}}</h2>
	</div>
	<div class="section-content-wrapper">
		<div class="profile-listing-table">
			{{$profiles}}
		</div>
	</div>

</div>
